header {
    background-color: blueviolet;
    height: 20vh;
    margin: 10px;
    animation: color-swap 5s linear 2s infinite;
}

nav > div {
    background-color: skyblue;
    height: 50px;
    margin: 10px;
    animation: width 5s linear infinite;
}

aside {
    background-color: royalblue;
    height: 50vh;
    margin: 10px;
    animation: opacity 3s linear 2s infinite;
}

footer {
    background-color: blue;
    height: 10vh;
    margin: 10px;
    animation: height 5s linear 2s infinite;
}

@keyframes color-swap {
    0% {
        background-color: blueviolet;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color:  green;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}

@keyframes width {
    0% {
        width: 100px;
        background-color: skyblue;
    }
    25% {
        width: 50px;
        background-color: yellowgreen;
    }
    50% {
        width: 100px;
        background-color: peru;
    }
    75% {
        width: 50px;
        background-color: blanchedalmond;
    }
    100% {
        width: 50px;
        background-color: black;
    }
}


@keyframes height {
    from {
        height: 20vh;
    }
    to {
        height: 5vh;
    }

}

@keyframes opacity {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 15vh;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav > div {
        height: 25px;
        width: 100px;
    }

    aside {
        width: 25vw;
    }
}

@media screen and (min-width: 1200px) {
    header {
        height: 200px;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav > div {
        height: 15px;
        width: 75px;
    }

    aside {
        width: 15vw;
    }
}

@media screen and (min-width: 768px) {
    header {
        height: 50px;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav > div {
        height: 10px;
        width: 60px;
    }

    aside {
        width: 25vw;
    }
}

@media screen and (min-width: 600px) {
    header {
        height: 30px;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav > div {
        height: 10px;
        width: 55px;
    }

    aside {
        width: 5vw;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 250vh;
        }
    
    #content {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }
    
    nav > div {
        height: 50px;
        width: 100px;
        }
    
    aside {
        width: 30vw;
        }
    }
