body {
    background-color: powderblue;
    margin: 300px;
}

#white-part {
    height: 300px;
    width: 400px;
    border: solid 2px black;
    background-color: white;
}

#red-part {
    height: 150px;
    width: 150px;
    background-color:crimson;
    border-radius: 50%; 
    margin: 75px 125px;
}