body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(182, 235, 235);
    background-image: url("https://www.usnews.com/cmsmedia/d1/79/64a30f844260a7ef433ef8beabee/190118-jarcashsaving-stock.jpg");
}

